@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.serenum.org/fonts/victor-mono-400.woff2);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://cdn.serenum.org/fonts/victor-mono-700.woff2);
	unicode-range: U+000-5FF;
}





* {
	box-sizing: content-box;
	scroll-behavior: smooth;
}

html, body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Victor Mono', sans-serif;
	font-size: 0.900rem;
	font-weight: 400;
	line-height: 1.500rem;
	font-style: normal;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}

a {
	color: var(--link);
	text-decoration: underline;
}

b, strong {
	font-weight: 700;
}

p {
	hyphens: auto;
	margin: 0;
	padding: 10px 0;
	text-align: justify;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin: 0;
	width: 100%;
}

code {
	font-size: 95%;
	line-height: 100%;
}

pre {
	font-size: 100%;
	margin: 0 0 0 -5px;
	padding: 3px 5px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

hr {
	border: 0;
	border-top: 4px solid var(--hr);
	margin: 30px 0;
	width: 100%;
}

details[open]:not(:last-child) {
	margin-bottom: 10px;
}

details > summary {
	cursor: pointer;
	hyphens: auto;
	text-align: justify;
	user-select: none;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

img, svg:not(#telegram), i, div#avatar {
	filter: var(--image_filter);
	opacity: var(--image_opacity);
}

h1 {
	font-size: 190%;
	font-weight: 200;
	line-height: 130%;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 130%;
	font-weight: 400;
	margin: 20px 0 0 0;
	padding: 0;
}

h3.first {
	margin-top: 0;
}

h4 {
	font-size: 100%;
	font-weight: 700;
	margin: 20px 0 -5px 0;
	padding: 0;
}

ul {
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ul > li {
	padding: 5px 0;
	text-align: left;
}

ul > li > ul {
	margin: 0 0 0 20px;
}

ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ol > li {
	display: table;
	counter-increment: item;
	padding: 5px 0;
}

ol > li > div {
	padding: 5px 0;
}

ol > li:before {
	content: counters(item, ".");
	display: table-cell;
	font-weight: 700;
	width: 25px;
}

ol > li > ol {
	margin: 0;
}

ol > li > ol > li:before {
	content: counters(item, ".");
	width: 40px;
}

ol > li > ol.second > li > ol.third > li:before {
	width: 50px;
}

ol.third {
	margin-bottom: -5px;
}



input, select {
	background-color: var(--input);
	border: 1px solid var(--input_border);
	border-radius: 2px;
	color: var(--text);
	font-family: 'Victor Mono', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 100%;
	outline: none;
	padding: 5px;
}

input:focus,
select:focus {
	border: 1px solid var(--focus);
}

input[type="radio"] + label {
	border: 1px solid transparent;
}

select {
	background-color: transparent;
	background-image: var(--icon_select);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	height: 22px;
	padding: 0 15px 0 5px;
	text-align: right;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="submit"] {
	background-color: var(--submit);
	border: 2px solid transparent;
	color: var(--submit_str);
	cursor: pointer;
	font-weight: 700;
	padding: 6px 10px;
}

input[type="submit"]:focus {
	background-color: var(--submit_focus);
}

input[disabled],
input:([name="field-password"])[readonly],
textarea[disabled],
select[disabled] {
	cursor: not-allowed;
	opacity: .4;

	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
}



[class^="pe-7w-"],
[class*="pe-7w-"] {
	font-size: 2rem;
}

[class="pe-7w-sun"] {
	color: var(--w_sun);
}







/* **** **** **** **** **** */







/*
	Affects the whole website
*/

section#website {
	margin: 0 auto 30px auto;
	max-width: 600px;
}

section#website > header#logo {
	text-align: center;
}

section#website > header#logo > a {
	display: inline-block;
	font-size: 250%;
	font-weight: 700;
	height: 200px;
}

section#website > header#logo > a > .image {
	background-image: var(--image_logo);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	width: 400px;
}

section#website > header#logo > a > .text {
	font-size: 45%;
	margin-top: 15px;
	letter-spacing: 1px;
	opacity: .5;
	pointer-events: none;
}

section#website > main {
	background-color: var(--main);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

section#website > main > section:not(section#weather) {
	padding: 20px;
	position: relative;
}

section#website > footer {
	line-height: 200%;
	opacity: .7;
	padding-top: 30px;
	text-align: center;
}

section#website > footer > div > div {
	display: inline-block;
}

section#website > footer > div > div:not(:first-child) {
	margin-left: 20px;
}

section#website > footer > .icons {
	margin-top: 15px;
	font-size: 90%;
	opacity: .8;
}

section#website > footer > .icons > div > a {
	text-decoration: none;
}

section#website > footer > div > div > a,
section#website > footer > nav > a {
	color: var(--text);
}

section#website > footer > nav > a {
	padding: 8px;
}

section#website > footer > nav > span {
	cursor: not-allowed;
	padding: 0 8px;
}







/* **** **** **** **** **** */







/*
	PAGE: Error
*/

section#error {
	font-size: 500%;
	font-weight: 700;
	opacity: .3;
	padding: 80px 50px !important;
	text-align: center;
}







/* **** **** **** **** **** */







/*
	PAGE: Start
*/

section#start > .warning,
section#start > .attention {
	margin: 0 -10px;
	border-radius: 3px;
	padding: 10px 20px;
}

section#start > .attention {
	background-color: rgba(95, 100, 0, .2);
	margin-top: 50px;
}

section#start > .warning {
	background-color: rgba(255, 0, 0, .1);
	margin-top: 10px;
}

section#start > .warning > h3,
section#start > .attention > h3 {
	margin-top: 10px;
	margin-bottom: 0;
}

section#start > .button {
	bottom: 20px;
	margin-top: 10px;
	padding: 20px 15px 10px 15px;
	position: sticky;
	text-align: center;
}

section#start > .button > a {
	background-color: var(--main);
	border: 1px solid var(--green);
	border-radius: 3px;
	color: var(--green);
	padding: 10px 20px;
	text-decoration: none;
}







/* **** **** **** **** **** */







/*
	PAGE: Contact
*/

section#contact > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

section#contact > div > div {
	text-align: center;
	width: 40%;
}

section#contact > div > div > svg {
	height: 48px;
	width: auto;
}

section#contact > div > div > svg > path:last-child {
	fill: var(--text);
}

section#contact > div > div > div {
	font-size: 120%;
	margin-top: 5px;
}







/* **** **** **** **** **** */







/*
	PAGE: Save the settings
*/

section[id*="settings"] > h1 {
	margin-bottom: 20px;
}

section[id*="settings"] > svg {
	height: 300px;
	margin: 0 auto;
	opacity: .03 !important;
	position: absolute;
	pointer-events: none;
	width: calc(100% - (20px * 2));
}

section[id*="settings"] > svg > path:last-child {
	fill: var(--text);
}

section[id*="settings"] > .content {
	align-items: align-start;
	display: flex;
	flex-direction: row;
}

section[id*="settings"] > .content > div:first-child {
	margin-right: 20px;
}

section[id*="settings"] > .content > div > img {
	height: auto;
	width: 32px;
}

section[id*="settings"] > .content > div > h3 {
	margin-top: 0;
}

section[id*="settings"] > .content > div > form {
	margin-top: 10px;
}

section[id*="settings"] > .content > div > form > [name*="button"] {
	margin-left: 10px;
}

section[id*="settings"] > .content.database {
	margin-bottom: 50px;
}

section[id*="settings"] > .content.database > div > form > [name="field-password"] {
	width: 200px;
}

section[id*="settings"] > .content.json > div > .download {
	font-size: 120%;
	font-weight: 700;
	margin-top: 10px;
}

section[id*="settings"] > .content.json > div > .download > a {
	color: var(--green);
	padding: 10px;
	text-decoration: none;
}

section[id*="settings"] > .content.json > div > .download > a > img {
	height: 22px;
	margin-right: 10px;
	vertical-align: top;
	opacity: .5 !important;
	width: 22px;
}

section[id*="settings"] > .content.json > div > form > [type="file"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

section[id*="settings"] > .content.json > div > form > [type="file"] + label {
	background-color: var(--input);
	border: 1px solid var(--input_border);
	border-radius: 2px;
	color: var(--text);
	cursor: pointer;
	display: inline-block;
	padding: 3px 5px;
	width: 200px;
}

section[id*="settings"] > .content.json > div > form > [type="file"]:focus + label {
	outline: 1px solid var(--focus);
}







/* **** **** **** **** **** */







/*
	PAGE: Weather
*/

section#weather {
	position: relative;
	width: 100%;
}

section#weather > details {
	background-color: var(--settings);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	position: relative;
}

section#weather > details[open] {
	padding: 15px 20px 0 20px;
}

section#weather > details[open] > summary {
	margin: -15px -20px 15px -20px;
}

section#weather > details > summary {
	align-items: center;
	background-color: var(--settings);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: flex;
	list-style: none;
	flex-direction: row;
	font-weight: 700;
	justify-content: center;
	height: 40px;
	padding: 0 10px;
	position: sticky;
	top: 0;
	z-index: 9999;
}

section#weather > details > summary > img {
	height: 20px;
	margin-right: 10px;
	width: 20px;
}

section#weather > details > summary > svg > path:last-child {
	fill: var(--text);
}

section#weather > details > svg {
	height: 300px;
	margin: 210px auto 0 auto;
	opacity: .03;
	position: absolute;
	pointer-events: none;
	width: calc(100% - (20px * 2));
	z-index: -1;
}

section#weather > details > svg > path:last-child {
	fill: var(--text);
}

section#weather > details > form > div > h3 {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 150%;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

section#weather > details > form > div > h3 > svg {
	height: 32px;
	margin-right: 10px;
	width: auto;
}

section#weather > details > form > div > h3 > svg > path:last-child {
	fill: var(--text);
}

section#weather > details > form > div#place > h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

section#weather > details > form > div#place > h3.descbelow {
	margin-bottom: 5px;
}

section#weather > details[open] > form > div#place > .desc {
	font-size: 90%;
	margin-top: -5px;
	margin-bottom: 20px;
}

section#weather > details[open] > form > div#place > div#map {
	height: 127px;
	margin-bottom: 20px;
	width: 100%;
}

section#weather > details[open] > form > div#place > .gps {
	margin-bottom: 25px;
}

section#weather > details[open] > form > div#place > .gps > div:not(.start):not(.desc) {
	display: none;
}

section#weather > details[open] > form > div#place > .gps > div > div {
	align-items: center;
	display: flex;
	flex-direction: row;
}

section#weather > details[open] > form > div#place > .gps > div > div > img {
	height: 20px;
	margin-right: 5px;
	width: 20px;
}

section#weather > details[open] > form > div#place > .gps > div > div > img > path:last-child {
	fill: var(--text);
}

section#weather > details[open] > form > div#place > .gps > .error > div > img > path:last-child {
	fill: var(--red);
}

section#weather > details[open] > form > div#place > .gps > div > div > a {
	color: var(--text);
	padding: 5px;
	text-decoration: none;
}

section#weather > details[open] > form > div#place > .gps > div > div > div {
	display: inline-block;
	padding: 5px;
}

section#weather > details[open] > form > div#place > .gps > .desc {
	font-size: 90%;
	margin-left: 30px;
	opacity: .7;
}

section#weather > details > form > div#options {
	margin-top: 50px;
}

section#weather > details > form > div#options > .item {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
}

section#weather > details > form > div#options > .item > .label {
	align-items: center;
	display: flex;
	flex-direction: none;
}

section#weather > details > form > div#options > .item > .label > img {
	height: 20px;
	margin-right: 10px;
	opacity: .6;
	width: auto;
}

section#weather > details > form > div#options > .item > .field > [name="list-languages"] {
	width: 150px;
}

section#weather > details > form > div#options > .item > .field > [name="list-languages"]:not(:focus) {
	border: 1px solid transparent;
}

section#weather > details > form > div#options > .item > .value > [type="radio"] {
	cursor: pointer;
	line-height: 100%;
	opacity: 0;
	position: absolute;
}

section#weather > details > form > div#options > .item > .value > [type="radio"] + label {
	cursor: pointer;
	font-size: 90%;
	opacity: .7;
	padding: 3px 5px;
}

section#weather > details > form > div#options > .item > .value > [type="radio"]:checked + label {
	background-color: var(--checked);
	backdrop-filter: blur(3px);
	border-radius: 2px;
	color: var(--checked_str);
	opacity: 1;
}

section#weather > details > form > div#options > .item > .value > [type="radio"]:checked:focus + label {
	border: 1px solid var(--checked_focus);
}

section#weather > details > form > div#apikeys {
	margin-top: 10px;
}

section#weather > details > form > div#place > .item > .label,
section#weather > details > form > div#apikeys > .item > .label {
	margin-bottom: 2px;
	margin-left: 5px;
}

section#weather > details > form > div#place > .item > .field > [name="field-coordinates"],
section#weather > details > form > div#apikeys > .item > .field > [name*="field-apikey"] {
	font-family: 'Victor Mono', monospace;
	width: calc(100% - 15px);
}

section#weather > details > form > div#apikeys > .item:not(:first-child) {
	margin-top: 10px;
}

section#weather > details > form > .button {
	bottom: 0;
	padding: 20px 0;
	position: sticky;
	pointer-events: none;
	text-align: center;
}

section#weather > details > form > .button > input {
	pointer-events: auto;
}



section#weather > .content {
	padding: 10px;
	width: calc(100% - (10px * 2));
}

section#weather > .content > .placeinfo {
	background-color: var(--placeinfo);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: var(--placeinfo_str);
	padding: 10px;
	text-align: center;
}

section#weather > .content > .placeinfo > .address {
	line-height: 140%;
	margin-top: 10px;
}

section#weather > .content > .placeinfo > div > div {
	color: var(--placeinfo_str);
	text-decoration: none;
}

section#weather > .content > .placeinfo > div > div > svg {
	height: 15px;
	margin-top: 2px;
	vertical-align: top;
	opacity: .6;
	width: 15px;
}

section#weather > .content > .placeinfo > div > div > svg > path:last-child {
	fill: var(--placeinfo_str);
}

section#weather > .content > .placeinfo > div > div > .block {
	display: inline-block;
	padding: 5px;
}

section#weather > .content > .placeinfo > div > div:last-child {
	margin-top: 3px;
}

section#weather > .content > .placeinfo > div > div > a {
	color: var(--placeinfo_link);
	font-size: 90%;
	opacity: .7;
	padding: 5px;
	text-decoration: none;
}

section#weather > .content > nav {
	background-color: var(--nav);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: var(--nav_str);
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px;
	text-align: center;
}

section#weather > .content > nav > a {
	color: var(--nav_str);
	opacity: .5;
	padding: 8px 10px;
	text-decoration: none;
	transition: opacity .2s linear;
}

section#weather > .content > nav > a:hover {
	opacity: 1;
}

section#weather > .content > nav > a#active {
	background-color: var(--nav_active);
	border-radius: 2px;
	color: var(--nav_str_active);
	opacity: 1;
	padding: 8px 10px;
}

section#weather > .content > nav > span {
	color: var(--text);
	cursor: not-allowed;
	opacity: .3;
	padding: 10px;
}

section#weather > .content > section:not(#now) > .loop > div {
	line-height: 100%;
	max-width: 220px;
	padding: 0 20px;
	min-width: 220px;
	text-align: center;
}

section#weather > .content > section:not(#now) > .loop > div > .happens > .day {
	font-size: 120%;
	font-weight: 700;
	padding-top: 40px;
}

section#weather > .content > section:not(#now) > .loop > div > .happens > .day > a {
	color: var(--text);
	padding: 5px;
	text-decoration: none;
}

section#weather > .content > section:not(#now) > .loop > div > .happens > .date {
	margin-top: 10px;
	opacity: .7;
}

section#weather > .content > section:not(#now) > .loop > div > .weather {
	margin-top: 10px;
}

section#weather > .content > section > .loop > div > i {
	font-size: 600%;
	margin: 10px 0;
	width: 100%;
}

section#weather > .content > section > .loop > div > .space {
	padding: 5px 0;
}

section#weather > .content > section > .loop > div > .item {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
}

section#weather > .content > section > .loop > div > .item > .label {
	text-align: left;
}

section#weather > .content > section > .loop > div > .item > .value {
	position: relative;
	text-align: right;
}

section#weather > .content > section > .loop > div > .item > .value > .dot {
	background-color: var(--dot);
	border-radius: 10px;
	display: inline-block;
	height: 5px;
	margin-top: 4px;
	margin-left: 5px;
	vertical-align: top;
	width: 5px;
}

section#weather > .content > section > .loop,
section#weather > .content > section > div > .loop {
	align-items: center;
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 20px;
	width: 100%;
}

section#weather > .content > section > div > .loop > div > .time {
	font-size: 90%;
	margin-top: 5px;
}

section#weather > .content > section#now > .current {
	margin: 50px 0 30px 30px;
}

section#weather > .content > section#now > .current > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 70%;
}

section#weather > .content > section#now > .current > div > .icon > i {
	font-size: 600%;
}

section#weather > .content > section#now > .current > div > .shortinfo {
	margin-top: 5px;
	margin-left: 30px;
	line-height: 100%;
}

section#weather > .content > section#now > .current > div > .shortinfo > .temperature {
	font-size: 200%;
	font-weight: 700;
	margin-top: 5px;
}

section#weather > .content > section#now > .current > div > .shortinfo > .feels-like {
	margin-top: 20px;
}

section#weather > .content > section#now > .current > div > .shortinfo > .weather {
	margin-top: 5px;
	opacity: .5;
}

section#weather > .content > section#now > .current-details {
	margin-bottom: 50px;
}

section#weather > .content > section#now > .current-details > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: space-between;
	margin: 0 auto;
	width: 70%;
}

section#weather > .content > section#now > .current-details > div > .label {
	width: calc(100% - (50px + 20px) - 70px);
}

section#weather > .content > section#now > .current-details > div > .value {
	font-weight: 700;
	margin-right: 20px;
	position: relative;
	text-align: right;
	width: 70px;
}

section#weather > .content > section#now > .current-details > div > .value > .dot {
	background-color: var(--dot);
	border-radius: 10px;
	display: inline-block;
	height: 5px;
	margin-top: 8px;
	margin-left: 5px;
	vertical-align: top;
	width: 5px;
}

section#weather > .content > section#now > .current-details > div > .value > .string,
section#weather > .content > section > .loop > div > .item > .value > .string {
	margin-right: 20px;
}

section#weather > .content > section#now > .current-details > div > .value > .icon,
section#weather > .content > section > .loop > div > .item > .value > .icon {
	display: inline-block;
	margin-top: 1px;
	right: 0;
	position: absolute;
	top: 0;
}

section#weather > .content > section#now > .current-details > div > .value > .icon > i,
section#weather > .content > section > .loop > div > .item > .value > .icon > i {
	display: inline-block;
	font-size: 140%;
}

section#weather > .content > section#now > .current-details > div > .type {
	width: 50px;
}



section#weather > .content > section#now > .minutely > h3 {
	margin: 0 0 10px 10px;
}

section#weather > .content > section#now > .minutely > .loop > div {
	line-height: 100%;
	max-width: 60px;
	margin: 0 10px;
	text-align: center;
}

section#weather > .content > section#hourly > .charts > div > div > .chart,
section#weather > .content > section#hourly > .charts > div > div > .chart > .chart-bar > .bar,
section#weather > .content > section#hourly > .charts > div > div > .chart > a > .chart-bar > .bar {
	width: 10.5px !important;
}

section#weather > .content > section#daily > .loop > div > .temperatures {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 40px;
	width: 100%;
}

section#weather > .content > section#daily > .loop > div > .temperatures > .item {
	padding: 5px;
}

section#weather > .content > section#daily > .loop > div > .temperatures > .item > .label {
	font-size: 95;
	opacity: .8;
}

section#weather > .content > section#daily > .loop > div > .temperatures > .item > .value {
	font-size: 140%;
	margin-top: 10px;
}

section#weather > .content > section#daily > .charts > div > div > .chart,
section#weather > .content > section#daily > .charts > div > div > .chart > .chart-bar > .bar,
section#weather > .content > section#daily > .charts > div > div > .chart > a > .chart-bar > .bar,
section#weather > .content > section#daily > .charts > div > div > .chart > .label {
	width: 72px !important;
}

section#weather > .content > section#daily > .charts > div > div > .chart > .label {
	margin-left: 0;
}



section#weather > .content > section > .loop {
	margin-bottom: 40px;
}

section#weather > .content > section > .loop > div > .item > .value > .icon {
	margin-top: -2px;
}

section#weather > .content > section > .charts {
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 20px 40px 20px;
	width: calc(100% - (20px * 2));
}

section#weather > .content > section > .charts > div {
	padding: 30px 0;
}

section#weather > .content > section > .charts > .temp {
	padding: 10px 0 195px 0 !important;
}

section#weather > .content > section > .charts > div:last-child {
	padding-top: 30px;
	padding-bottom: 10px;
}

section#weather > .content > section > .charts > div > h4 {
	font-size: 100%;
	margin: 0 0 10px 30px;
}

section#weather > .content > section > .charts > div > div {
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 100%;
}

section#weather > .content > section > .charts > div > div > .legend {
	font-size: 80%;
	line-height: 223%;
	margin: -18px 10px 0 -20px;
	max-height: 50px;
	min-width: 40px;
	height: 50px;
	text-align: right;
	width: 40px;
}

section#weather > .content > section > .charts > div > div > .legend.temp {
	line-height: 246%;
	margin-top: -22px;
}

.chart {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	max-height: 120px;
	min-height: 50px;
	height: 50px;
}

.chart.temp > a > .bars > .chart-bar.plus {
	height: 80px;
}

.chart.temp > a > .bars > .chart-bar.minus {
	height: 130px;
}

.chart > a,
.chart > .chart-bar,
.chart > a > .chart-bar,
.chart > a > .bars > .chart-bar {
	background-color: var(--bar_ghost);
	color: var(--text);
	height: 100%;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.chart > a > .bars > .chart-bar.minus {
	display: block;
    transform: rotate(180deg);
	transform-origin: initial;
	white-space: nowrap;
}

.chart > a:hover > .chart-bar,
.chart > a:hover > .bars > .chart-bar {
	background-color: var(--bar_hover);
}

.chart > a:hover > .chart-bar > .bar,
.chart > a:hover > .bars > .chart-bar > .bar {
	color: var(--text);
}

.chart > a:hover > .chart-bar > .bar,
.chart > a:hover > .bars > .chart-bar > .bar {
	background-color: var(--bar_hover_bar);
}

.chart > .chart-bar > .bar,
.chart > a > .chart-bar > .bar,
.chart > a > .bars > .chart-bar > .bar {
	background-color: var(--bar);
	border-radius: 0 !important;
	bottom: 0;
	color: var(--black);
	font-size: 70%;
	height: 100%;
	left: 0;
	line-height: 100%;
	max-height: 120px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.chart > a > .label {
	font-size: 80%;
	line-height: 110%;
	opacity: .8;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.text.mono {
	margin-top: 10px;
}







/* **** **** **** **** **** */







/*
	Colours
*/

.near-transparent {
	opacity: .4;
}

.color-grey {
	opacity: .7;
}

.color-blue {
	color: var(--blue);
}

.color-red {
	color: var(--red);
}

.color-green {
	color: var(--green);
}

.colorbg-green {
	background-color: var(--green) !important;
}

.colorbg-yellow {
	background-color: var(--yellow) !important;
}

.colorbg-orange {
	background-color: var(--orange) !important;
}

.colorbg-red {
	background-color: var(--red) !important;
}

.colorbg-violet {
	background-color: var(--violet) !important;
}

.color-swedishflag-yellow {
	color: var(--swedishflag_yellow);
}

.color-swedishflag-blue {
	color: var(--swedishflag_blue);
}



/*
	Table
*/

.table {
	display: table;
}

.table > .row {
	display: table-row;
}

.table > .row > .cell {
	display: table-cell;
}

.table > .row > .cell.width {
	width: 170px;
}



/*
	Various
*/

div#message {
	display: none;
	padding: 10px 15px;
}

.no-select {
	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.mono {
	font-family: 'Victor Mono', monospace;
	font-size: 100%;
}

.message {
	font-size: 130%;
	padding: 30px 20px;
	text-align: center;
}

.message.error {
	align-items: center;
	display: flex;
	color: var(--red);
	flex-direction: row;
	font-size: 100%;
	margin-bottom: 10px;
	padding: 5px;
	text-align: left;
}

.message.error > svg {
	height: 20px;
	margin-right: 10px;
	width: 20px;
}

.message.error > svg > path:last-child {
	fill: var(--red);
}

.sub {
	position: relative;
	top: .5ex;
}

.description {
	color: var(--blue);
	font-size: 95%;
	line-height: 140%;
	margin: 10px auto 30px auto;
	width: 90%;
}

.description > p {
	padding: 5px 0;
}

.icon {
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: top;
}

.icon.option {
	background-size: 20px;
	margin-right: 10px;
	height: 20px;
	opacity: .7;
	width: 20px;
}

.icon.telegram {
	background-image: var(--icon_contact_telegram);
	background-size: 48px;
	height: 48px;
	width: 48px;
}

.icon.email {
	background-image: var(--icon_contact_email);
	background-size: 48px;
	height: 48px;
	width: 48px;
}

.icon.download-database {
	background-image: var(--icon_download_database);
	background-size: 32px;
	height: 32px;
	width: 32px;
}

.icon.download-json {
	background-image: var(--icon_download_json);
	background-size: 32px;
	height: 32px;
	width: 32px;
}

.icon.upload-database {
	background-image: var(--icon_upload_database);
	background-size: 32px;
	height: 32px;
	width: 32px;
}

.icon.upload-json {
	background-image: var(--icon_upload_json);
	background-size: 32px;
	height: 32px;
	width: 32px;
}

.icon.download {
	background-image: var(--icon_download);
	background-size: 24px;
	height: 24px;
	margin-right: 10px;
	opacity: .6;
	width: 24px;
}

.icon.option.gps-off {
	background-image: var(--icon_gps_off);
	margin-right: 0;
}

.icon.option.gps-searching {
	background-image: var(--icon_gps_searching);
	margin-right: 0;
}

.icon.option.gps-error {
	background-image: var(--icon_gps_error);
	margin-right: 0;
}

.icon.option.gps-found {
	background-image: var(--icon_gps_found);
	margin-right: 0;
}

.icon.option.language {
	background-image: var(--icon_language);
}

.icon.option.language {
	background-image: var(--icon_language);
}

.icon.option.temperature {
	background-image: var(--icon_temperature);
}

.icon.option.windspeed {
	background-image: var(--icon_windspeed);
}

.icon.option.airpressure {
	background-image: var(--icon_airpressure);
}

.icon.option.format-date {
	background-image: var(--icon_format_date);
}

.icon.option.format-time {
	background-image: var(--icon_format_time);
}

.icon.option.daysuffix {
	background-image: var(--icon_daysuffix);
}

.icon.option.distance {
	background-image: var(--icon_distance);
}

.icon.option.precipitation-mix {
	background-image: var(--icon_precipitation_mix);
}

.icon.option.decimal {
	background-image: var(--icon_decimal);
}

.icon.option.split-thousands {
	background-image: var(--icon_split_thousands);
}

.icon.option.theme {
	background-image: var(--icon_theme);
}



.choose-file > .field {
	padding: 10px 0;
}




*[data-tooltip] {
	position: relative;
}

*[data-tooltip]:hover:after, *[data-tooltip]:hover:before {
	opacity: 1;
	visibility: visible;
}

*[data-tooltip]:after, *[data-tooltip]:before {
	position: absolute;
	top: auto;
	bottom: 100%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
}

*[data-tooltip]:after {
	content: attr(data-tooltip);
	background: var(--tooltip);
	color: var(--tooltip_str);
	padding: 10px;
	text-align: center;
	line-height: 100%;
	font-size: 100%;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-transform: translate(-50%, -8px);
	transform: translate(-50%, -8px);
}

*[data-tooltip]:before {
	content: '';
	top: auto;
	bottom: 100%;
	border: 4px solid transparent;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-top-color: var(--tooltip);
}

*[data-tooltip][data-position="bottom"]:after {
	top: 100%;
	bottom: auto;
	-webkit-transform: translate(-50%, 8px);
	transform: translate(-50%, 8px);
}

*[data-tooltip][data-position="bottom"]:before {
	top: 100%;
	bottom: auto;
	border-color: transparent;
	border-bottom-color: var(--tooltip);
}

*[data-tooltip][data-position="left"]:after {
	left: 0;
	bottom: auto;
	top: 50%;
	margin-left: -8px;
	-webkit-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

*[data-tooltip][data-position="left"]:before {
	left: 0;
	bottom: auto;
	top: 50%;
	-webkit-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
	border-color: transparent;
	border-left-color: var(--tooltip);
}

*[data-tooltip][data-position="right"]:after {
	left: 100%;
	bottom: auto;
	top: 50%;
	-webkit-transform: translate(8px, -50%);
	transform: translate(8px, -50%);
}

*[data-tooltip][data-position="right"]:before {
	left: 100%;
	top: 50%;
	bottom: auto;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	border-color: transparent;
	border-right-color: var(--tooltip);
}
