@media only screen and (max-width: 755px) {


	p {
		text-align: left;
	}

	section#website {
		box-shadow: 0 0 0 transparent;
		margin: 0 0 30px 0;
		max-width: 100%;
	}

	section#website > header#logo {
		border-radius: 0;
	}

	section#website > main {
		border-radius: 0;
	}

	section#start {
		padding: 10px;
	}

	section#start > .button {
		font-size: 120%;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: center;
	}

	section#start > .button > a {
		color: var(--green);
		padding: 15px;
		text-decoration: none;
	}







	/* **** **** **** **** **** */







	/*
		PAGE: Weather
	*/

	section#weather > details > form > div#options > .item > .value > [type="radio"] + label {
		padding: 6px 8px;
	}

	section#weather > .content {
		padding: 15px;
		width: calc(100% - (15px * 2));
	}

	section#weather > .content > nav {
		width: calc(100% - (10px * 2));
	}

	section#weather > .content > nav > a,
	section#weather > .content > nav > a:hover,
	section#weather > .content > nav > a#active {
		opacity: 1;
	}

	section#weather > .content > nav > span {
		opacity: .4;
	}

	section#weather > .content > .placeinfo > .address {
		line-height: 140%;
		margin-top: 10px;
	}

	section#weather > .content > .placeinfo > div > a {
		color: var(--text);
		text-decoration: none;
	}

	section#weather > .content > .placeinfo > div > a > svg {
		height: 15px;
		margin-top: 2px;
		vertical-align: top;
		opacity: .6;
		width: 15px;
	}

	section#weather > .content > .placeinfo > div > a > svg > path:last-child {
		fill: var(--text);
	}

	section#weather > .content > .placeinfo > div > a > .block {
		display: inline-block;
		padding: 5px;
	}

	section#weather > .content > [type="radio"] {
		cursor: pointer;
		line-height: 100%;
		opacity: 0;
		position: absolute;
	}

	section#weather > .content > [type="radio"] + label {
		cursor: pointer;
		padding: 10px 15px;
	}

	section#weather > .content > [type="radio"]:checked + label {
		background-color: var(--nav_active);
		border-radius: 0;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		font-weight: 700;
	}

	section#weather > .content > [type="radio"]:not(:checked) + label {
		opacity: .6;
	}



	section#weather > .content > section:not(#now) > .loop > div {
		line-height: 100%;
		max-width: 220px;
		padding: 0 20px;
		min-width: 220px;
		text-align: center;
	}

	section#weather > .content > section:not(#now) > .loop > div > .weather {
		margin-top: 10px;
	}

	section#weather > .content > section:not(#now) > .loop > div > .happens {
		font-size: 120%;
		font-weight: 700;
		margin-top: 0;
	}

	section#weather > .content > section#now {
		display: block;
	}

	input#now:checked ~ section#now,
	input#hourly:checked ~ section#hourly,
	input#daily:checked ~ section#daily {
		display: block;
	}

	input#now:not(:checked) ~ section#now {
		display: none;
	}

	section#weather > .content > section#now > .current > div,
	section#weather > .content > section#now > .current-details > div {
		width: 100%;
	}

	section#weather > .content > section > .loop > div > .item > .value > .icon {
		margin-top: -3px;
	}

	section#weather > .content > section#now > .current-details > div > .value > .icon > i,
	section#weather > .content > section > .loop > div > .item > .value > .icon > i {
		display: inline-block;
		font-size: 140%;
	}

	section#weather > .content > section#now > .current-details > div > .type {
		width: 50px;
	}



	section#weather > .content > section#now > .minutely > h3 {
		margin-top: 40px;
		margin-bottom: 10px;
	}

	section#weather > .content > section#now > .minutely > .loop > div {
		line-height: 100%;
		max-width: 30px;
		margin: 0 5px;
		text-align: center;
	}

	section#weather > .content > section#now > .minutely > .loop > div > .text {
		font-size: 80%;
		opacity: .7;
	}

	section#weather > .content > section > .charts {
		display: block;
		padding: 0 0 40px 0;
		width: 100%;
	}

	section#weather > .content > section > .charts > div > h4 {
		margin-left: 50px;
	}

	section#weather > .content > section > .charts > div > div > .legend {
		margin-left: 0;
	}

	section#weather > .content > section#hourly > .charts > div > div > .chart > .chart-bar > .bar,
	section#weather > .content > section#hourly > .charts > div > div > .chart > .chart-bar > .ghost,
	section#weather > .content > section#hourly > .charts > div > div > .chart > .chart-bar > a > .bar,
	section#weather > .content > section#hourly > .charts > div > div > .chart > .chart-bar > a > .ghost {
		border-radius: 0 !important;
	}


}
