@media (prefers-color-scheme: dark) {
	:root {

		/* Website */
		--background: #161b25;
		--main: #1e242d;
		--text: #c3c4c5;
		--link: #9dd0ff;
		--settings: #11151d;
		--placeinfo: #232b36;
		--placeinfo_str: #c3c4c5;
		--placeinfo_link: #bedbff;
		--nav: #232b36;
		--nav_active: #2f3a48;
		--nav_str: #c3c4c5;
		--nav_str_active: #c3c4c5;

		/* Forms */
		--input: #1b2028;
		--input_border: #37393f;
		--focus: #838796;
		--checked: #151a21;
		--checked_str: #fff9a6;
		--checked_focus: #838796;
		--submit: #2e81ff;
		--submit_str: #ffffff;
		--submit_focus: #1a4990;

		/* Charts */
		--bar: #8787ca;
		--bar_ghost: #191e26;
		--bar_hover: #14191f;
		--bar_hover_bar: #374354;

		/* Colours */
		--blue: #2591cb;
		--red: #ee5f5f;
		--green: #4acb60;
		--yellow: #f6c51e;
		--orange: #ff8000;
		--violet: #9432f6;
		--black: #111111;

		/* Weather icons */
		--w_sun: #f6c51e;

		/* Icons */
		--icon_select: url('https://cdn.serenum.org/img/icons/light/arrow.svg');
		--icon_airpressure: url('https://cdn.serenum.org/img/icons/light/air-pressure.svg');
		--icon_contact_email: url('https://cdn.serenum.org/img/icons/light/contact-email.svg');
		--icon_contact_telegram: url('https://cdn.serenum.org/img/icons/light/contact-telegram.svg');
		--icon_daysuffix: url('https://cdn.serenum.org/img/icons/light/day-suffix.svg');
		--icon_decimal: url('https://cdn.serenum.org/img/icons/light/decimal.svg');
		--icon_distance: url('https://cdn.serenum.org/img/icons/light/distance.svg');
		--icon_download_database: url('https://cdn.serenum.org/img/icons/light/download-database.svg');
		--icon_download_json: url('https://cdn.serenum.org/img/icons/light/download-json.svg');
		--icon_download: url('https://cdn.serenum.org/img/icons/light/download.svg');
		--icon_format_date: url('https://cdn.serenum.org/img/icons/light/format-date.svg');
		--icon_format_time: url('https://cdn.serenum.org/img/icons/light/format-time.svg');
		--icon_gps_error: url('https://cdn.serenum.org/img/icons/light/gps-error.svg');
		--icon_gps_found: url('https://cdn.serenum.org/img/icons/light/gps-found.svg');
		--icon_gps_off: url('https://cdn.serenum.org/img/icons/light/gps-off.svg');
		--icon_gps_searching: url('https://cdn.serenum.org/img/icons/light/gps-searching.svg');
		--icon_language: url('https://cdn.serenum.org/img/icons/light/language.svg');
		--icon_map: url('https://cdn.serenum.org/img/icons/light/map.svg');
		--icon_precipitation_mix: url('https://cdn.serenum.org/img/icons/light/precipitation-mix.svg');
		--icon_precipitation_rain: url('https://cdn.serenum.org/img/icons/light/precipitation-rain.svg');
		--icon_precipitation_snow: url('https://cdn.serenum.org/img/icons/light/precipitation-snow.svg');
		--icon_save: url('https://cdn.serenum.org/img/icons/light/save.svg');
		--icon_settings: url('https://cdn.serenum.org/img/icons/light/settings.svg');
		--icon_split_thousands: url('https://cdn.serenum.org/img/icons/light/split-thousands.svg');
		--icon_temperature: url('https://cdn.serenum.org/img/icons/light/temperature.svg');
		--icon_theme: url('https://cdn.serenum.org/img/icons/light/theme.svg');
		--icon_upload_database: url('https://cdn.serenum.org/img/icons/light/upload-database.svg');
		--icon_upload_json: url('https://cdn.serenum.org/img/icons/light/upload-json.svg');
		--icon_windspeed: url('https://cdn.serenum.org/img/icons/light/wind-speed.svg');

		/* Images */
		--image_logo: url('https://cdn.serenum.org/img/logo-dark.svg');

		/* Other */
		--line: #444b50;
		--dot: #080a0c;
		--tooltip: #000000;
		--hr: #232b36;

	}
}

@media (prefers-color-scheme: light) {
	:root {

		/* Website */
		--background: #d1d7e3;
		--main: #fafafa;
		--text: #222222;
		--link: #425d96;
		--settings: #f4f4f4;
		--placeinfo: #3a414c;
		--placeinfo_str: #ffffff;
		--placeinfo_link: #bedbff;
		--nav: #3a414c;
		--nav_active: #616d7f;
		--nav_str: #ffffff;
		--nav_str_active: #ffffff;

		/* Forms */
		--input: #fafafa;
		--input_border: #d1d1d1;
		--focus: #3a414c;
		--checked: #e1e1e1;
		--checked_str: #222222;
		--checked_focus: #3a414c;
		--submit: #3a414c;
		--submit_str: #ffffff;
		--submit_focus: #000000;

		/* Charts */
		--bar: #3c5662;
		--bar_ghost: #edf3f5;
		--bar_hover: #dee3e5;
		--bar_hover_bar: #577e8f;

		/* Colours */
		--blue: #41b3f4;
		--red: #710000;
		--green: #2f7120;
		--yellow: #f6c51e;
		--orange: #ff8000;
		--violet: #9432f6;
		--black: #111111;

		/* Weather icons */
		--w_sun: #f6c51e;

		/* Icons */
		--icon_select: url('https://cdn.serenum.org/img/icons/dark/arrow.svg');
		--icon_airpressure: url('https://cdn.serenum.org/img/icons/dark/air-pressure.svg');
		--icon_contact_email: url('https://cdn.serenum.org/img/icons/dark/contact-email.svg');
		--icon_contact_telegram: url('https://cdn.serenum.org/img/icons/dark/contact-telegram.svg');
		--icon_daysuffix: url('https://cdn.serenum.org/img/icons/dark/day-suffic.svg');
		--icon_decimal: url('https://cdn.serenum.org/img/icons/dark/decimal.svg');
		--icon_distance: url('https://cdn.serenum.org/img/icons/dark/distance.svg');
		--icon_download_database: url('https://cdn.serenum.org/img/icons/dark/download-database.svg');
		--icon_download_json: url('https://cdn.serenum.org/img/icons/dark/download-json.svg');
		--icon_download: url('https://cdn.serenum.org/img/icons/dark/download.svg');
		--icon_format_date: url('https://cdn.serenum.org/img/icons/dark/format-date.svg');
		--icon_format_time: url('https://cdn.serenum.org/img/icons/dark/format-time.svg');
		--icon_gps_error: url('https://cdn.serenum.org/img/icons/dark/gps-error.svg');
		--icon_gps_found: url('https://cdn.serenum.org/img/icons/dark/gps-found.svg');
		--icon_gps_off: url('https://cdn.serenum.org/img/icons/dark/gps-off.svg');
		--icon_gps_searching: url('https://cdn.serenum.org/img/icons/dark/gps-searching.svg');
		--icon_language: url('https://cdn.serenum.org/img/icons/dark/language.svg');
		--icon_map: url('https://cdn.serenum.org/img/icons/dark/map.svg');
		--icon_precipitation_mix: url('https://cdn.serenum.org/img/icons/dark/precipitation-mix.svg');
		--icon_precipitation_rain: url('https://cdn.serenum.org/img/icons/dark/precipitation-rain.svg');
		--icon_precipitation_snow: url('https://cdn.serenum.org/img/icons/dark/precipitation-snow.svg');
		--icon_save: url('https://cdn.serenum.org/img/icons/dark/save.svg');
		--icon_settings: url('https://cdn.serenum.org/img/icons/dark/settings.svg');
		--icon_split_thousands: url('https://cdn.serenum.org/img/icons/dark/split-thousands.svg');
		--icon_temperature: url('https://cdn.serenum.org/img/icons/dark/temperature.svg');
		--icon_theme: url('https://cdn.serenum.org/img/icons/dark/theme.svg');
		--icon_upload_database: url('https://cdn.serenum.org/img/icons/dark/upload-database.svg');
		--icon_upload_json: url('https://cdn.serenum.org/img/icons/dark/upload-json.svg');
		--icon_windspeed: url('https://cdn.serenum.org/img/icons/dark/wind-speed.svg');

		/* Images */
		--image_logo: url('https://cdn.serenum.org/img/logo-light.svg');

		/* Other */
		--line: #444b50;
		--dot: #080a0c;
		--tooltip: #3c5662;
		--tooltip_str: #ffffff;
		--hr: #eaebf1;

	}
}
