@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.serenum.org/fonts/victor-mono-400.woff2);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://cdn.serenum.org/fonts/victor-mono-700.woff2);
	unicode-range: U+000-5FF;
}



/*@media (prefers-color-scheme: dark) {*/
	:root {
		--background: #161b25;
		--main: #1e242d;
		--aside: #1b2028;
		--nav_active: #232b36;
		--header: #232b36;
		--input: #151a21;
		--input_focus: #759dc3;
		--checked: #151a21;
		--checked_str: #fff9a6;
		--select: #242424;
		--submit: #2e81ff;
		--submit_focus: #ffffff;
		--submit_str: #ffffff;
		--bar: #8787ca;
		--bar_ghost: #191e26;
		--bar_hover: #14191f;
		--bar_hover_bar: #374354;
		--line: #444b50;
		--text: #c3c4c5;
		--link: #9dd0ff;
		--blue: #759dc3;
		--red: #c37575;
		--green: #75c375;
		--yellow: #c3c275;
		--orange: #ff8000;
		--violet: #9432f6;
		--black: #111111;
		--dot: #080a0c;
		--tooltip: #000000;
		--hr: #232b36;
		--swedishflag_yellow: #fedc85;
		--swedishflag_blue: #5e9ad2;
		--code: #12171f;
		--code_border: #3e4147;

		--w_sun: #ffff8e;

		--icon_select: url(../images/arrow-dark.svg);
	}
/*}*/





* {
	box-sizing: content-box;
	scroll-behavior: smooth;
}

html, body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Victor Mono', sans-serif;
	font-size: 0.900rem;
	font-weight: 400;
	line-height: 1.500rem;
	font-style: normal;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}

a {
	color: var(--link);
	text-decoration: underline;
}

b, strong {
	font-weight: 700;
}

p {
	hyphens: auto;
	margin: 0;
	padding: 10px 0;
	text-align: justify;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin: 0;
	width: 100%;
}

code {
	background-color: var(--code);
	border: 1px solid var(--code_border);
	border-radius: 3px;
	line-height: 100%;
	padding: 0 2px;
}

pre {
	background-color: #252d3e;
	border: 0;
	border-radius: 5px;
	font-size: 100%;
	padding: 10px 15px;
	white-space: pre-line;
}

pre > code {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #e1da8a;
	padding: 0;
}

hr {
	border: 0;
	border-top: 4px solid var(--hr);
	margin: 30px 0;
	width: 100%;
}

details[open]:not(:last-child) {
	margin-bottom: 20px;
}

details > summary {
	cursor: pointer;
	hyphens: auto;
	text-align: justify;
	user-select: none;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

img, svg:not(#telegram), i, div#avatar {
	filter: var(--image_filter);
	opacity: var(--image_opacity);
}

h1 {
	font-size: 190%;
	font-weight: 200;
	line-height: 130%;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 130%;
	font-weight: 400;
	margin: 50px 0 0 0;
	padding: 0;
}

h3.first {
	margin-top: 0;
}

h4 {
	font-size: 100%;
	font-weight: 700;
	margin: 20px 0 -5px 0;
	padding: 0;
}

ul {
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ul > li {
	padding: 5px 0;
}

ul > li > ul {
	margin: 0 0 0 20px;
}

ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ol > li {
	display: table;
	counter-increment: item;
	padding: 5px 0;
}

ol > li > div {
	padding: 5px 0;
}

ol > li:before {
	content: counters(item, ".");
	display: table-cell;
	font-weight: 700;
	width: 25px;
}

ol > li > ol {
	margin: 0;
}

ol > li > ol > li:before {
	content: counters(item, ".");
	width: 40px;
}

ol > li > ol.second > li > ol.third > li:before {
	width: 50px;
}

ol.third {
	margin-bottom: -5px;
}



input, select {
	background-color: var(--input);
	border: 2px solid transparent;
	border-radius: 3px;
	color: var(--text);
	font-family: 'Victor Mono', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 100%;
	outline: none;
	padding: 5px;
}

input:focus, select:focus {
	border: 2px solid var(--input_focus);
}

select {
	background-color: transparent;
	background-image: var(--icon_select);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	height: 22px;
	padding: 0 15px 0 5px;
	text-align: right;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="submit"] {
	background-color: var(--submit);
	border: 2px solid transparent;
	color: var(--submit_str);
	cursor: pointer;
	font-weight: 700;
	padding: 8px 10px;
}

input[type="submit"]:focus {
	border: 2px solid var(--submit_focus);
}

input[disabled],
textarea[disabled],
select[disabled] {
	cursor: not-allowed;
	opacity: .4;

	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
}



[class^="pe-7w-"],
[class*="pe-7w-"] {
	font-size: 2rem;
}

[class="pe-7w-sun"] {
	color: var(--w_sun);
}







/* **** **** **** **** **** */







/*
	Affects the whole website
*/

section#website {
	margin: 30px auto;
	max-width: 800px;
}

section#website > header#logo {
	font-size: 250%;
	font-weight: 700;
	padding: 30px 50px;
	text-align: center;
}

section#website > header#logo > a {
	color: var(--text);
	padding: 10px 50px;
	text-decoration: none;
}

section#website > nav#main {
	margin-bottom: 50px;
	text-align: center;
}

section#website > nav#main > a {
	color: var(--text);
	padding: 8px;
}

section#website > main > section > .items {
	margin-top: 10px;
}

section#website > main > section > .items > .item {
	padding: 20px 0;
}

section#website > main > section > .items > .item > .parameter > a {
	color: var(--text);
	text-decoration: none;
}

section#website > main > section > .items > .item > .desc {
	border-left: 1px solid var(--code_border);
	margin-top: 10px;
	padding: 3px 10px;
}