@media only screen and (max-width: 755px) {



	section#website > main {
		padding: 20px;
	}

	section#website > main > section > .items > .item {
		flex-direction: column;
	}

	section#website > main > section > .items > .item > div {
		width: 100% !important;
	}

	section#website > main > section > .items > .item > .desc {
		margin-top: 10px;
	}


}
